/*******************************************************************************
 * 
 * @file
 * _utils.scss
 *
 * Sass offers come very useful features, these include variables functions and
 * mixins. Extensions such as Compass and Susy can also be used to provide extra
 * functions and mixins to be used throughout the theme. This file acts as a
 * single place for defining these things, which can then be accessed by
 * importing _utils.scss where required. The following should be defined in this
 * file:
 * - Custom Sass mixins for the theme.
 * - Custom Sass functions for the theme.
 * - Overriding the default variables provided by extensions such as Compass.
 * - Defining new variables for:
 *      - Colors.
 *      - Font sizes and families.
 *      - Layout and grid sizing.
 ******************************************************************************/
 // ---------------------------------------------------------------------------
// Imports

@import "compass";
@import "susy";
@import "sassy-buttons";
@import "animate";
// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;
$container-style: fluid;

$show-grid-backgrounds  : true;

// ---------------------------------------------------------------------------
// Colors 

$primaryColor: #0090ff;
$secondaryColor: #ff9200;
$bgColor: #ffe9cc;

// derived colors
$primaryBlack: #15181a;
$primaryBlackBold: lighten($primaryBlack, 18%);
$primaryWhite: #e6f4ff;
$primaryLightGray: lighten($primaryBlack, 20%);
$secondaryLightGray: lighten($primaryBlack, 30%);

// base colors - these and its derived colors should not change when using color picker
$white: #fff;
$black: #000;
$green: #4f8a10;
$red: #c60f13;
$blue: #3a87ad;
$yellow: #c4a000;

// text colors
$textColor: #333333;
$textBold: $primaryBlackBold;
$textMuted: darken($primaryLightGray, 40%);
$textDisabled: lighten($primaryBlack, 30%);

// borders
$primaryBorder: darken($secondaryLightGray, 10%);
$secondaryBorder: darken($secondaryColor, 10%);

// backgrounds

$bgSubtle: lighten($bgColor, 5%);
$bgDisabled: #F0F0F0;

// misc
$topbarColor: #406480;

// Tab styling.
$tabs-container-bg: $bgSubtle;
$tabs-border: $primaryBorder;

// Contrasted defaults
$contrasted-dark-default: darken($textColor, 20%);
$contrasted-light-default: lighten($textColor, 20%);
// ---------------------------------------------------------------------------
// Type

$headerFontFamily: "ExistenceLight","Comfortaa Bold", "Century Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
$sansFontFamily: "ExistenceLight", "Dosis Light", "Century Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily: Rockwell, Cambria, Georgia, "Times New Roman", Times, serif;
$monoFontFamily: Consolas, Monaco, Menlo, "Courier New", monospace;

$base-font-size: 16px;
$base-line-height: 24px;
@include establish-baseline;

// currently a placeholder to allow more complex stuff later
@mixin font-size($size: $base-font-size) {
  font-size: $size;
}

// ---------------------------------------------------------------------------
// Vars

$default-border-radius: 3px;
$table-color: #7a98c6;

// ---------------------------------------------------------------------------
// Sassy buttons

$sb-base-color: $primaryWhite;
$sb-second-color: false;
$sb-border-radius: 3px;
$sb-padding: 0.5em 1.5em;
$sb-font-size: $base-font-size;
$sb-text-color: darken($primaryLightGray, 60%);
$sb-text-style: "inset";
$sb-gradient-style: "simple";
$sb-pseudo-states: true;
$sb-ie-support: true;

@mixin sassy-button-default-structure {
  display: inline-block;
  cursor: pointer;
}

%button-default {
  @include sassy-button;
  margin-right: 5px;
}

%button-link {
  $sb-padding: 0.34em 1.5em;
  @include sassy-button;
  margin-right: 5px;
  text-decoration: none;

  &:hover {
    color: $sb-text-color;
  }
}

%button-green {
  @include sassy-button-gradient("simple", lighten($green, 5%), false, $white);
}

%button-green-medium {
  @include sassy-button-gradient("simple", $green, false, $white);
}

%button-blue {
  @include sassy-button-gradient("simple", $blue, false, $white);
}

%button-blue-medium {
  @include sassy-button-gradient("simple", $blue, false, $white);
}

%button-red {
  @include sassy-button-gradient("simple", lighten($red, 5%), false, $white);
}

%button-yellow {
  @include sassy-button-gradient("simple", $yellow, false, darken($yellow, 45%));
}

%button-dark {
  @include sassy-button-gradient("simple", lighten($primaryBlack, 25%), false, $primaryWhite);
}

%button-medium {
  @include sassy-button-gradient("simple", darken($primaryLightGray, 25%), false, $white);
}

/*Animations*/

$default-animation-name: bounceIn;
$default-animation-duration: 5s;
$default-animation-delay: 1s;
$default-animation-timing-function: linear;
$default-animation-iteration-count: 1;
$default-animation-direction: alternate;
$default-animation-fill-mode: both;
