/*
* @file
* _admin.scss styles the drupal backend.
* 
* Admin panels
* dblog
* field ui
* Messages
*
*/


// ---------------------------------------------------------------------------
// Admin panels (e.g. admin/config)

div.admin {
  .left {
    @include span-columns(6);
    margin-left: 0;
  }
  .right {
    @include span-columns(6 omega);
  }

  .body {
    padding: 0;
  }
}

div.admin-panel {
  background: $bgSubtle;
  border-bottom: 1px solid darken($primaryWhite, 5%);
  margin-bottom: 1em;
  padding: 1em;

  h3 {
    margin-top: 0;
  }
}


// ---------------------------------------------------------------------------
// Dblog

.form-item-type,
.form-item-severity {
  float: left; /* LTR */
  padding-right: .8em; /* LTR */
  margin: 0.1em;
  /**
   * In Opera 9, DOM elements with the property of "overflow: auto"
   * will partially hide its contents with unnecessary scrollbars when
   * its immediate child is floated without an explicit width set.
   */
  width: 15em;
}

#dblog-filter-form .form-type-select select {
  width: 100%;
}
#dblog-filter-form .form-actions {
  float: left;
  padding: 4ex 0 0 1em;
}

table {
  tr {
    &.dblog-warning td,
    &.dblog-user td {
      background-color: lighten($yellow, 30%);
      border-bottom: 1px solid $yellow;

      &.active {
        background-color: lighten($yellow, 20%);
      }
    }

    &.dblog-content td {
      background-color: lighten($blue, 45%);
      border-bottom: 1px solid lighten($blue, 25%);

      &.active {
        background-color: lighten($blue, 40%);
      }
    }

    &.dblog-page-not-found td,
    &.dblog-access-denied td {
      background-color: lighten($green, 56%);
      border-bottom: 1px solid lighten($green, 40%);

      &.active {
        background-color: lighten($green, 50%);
      }
    }

    &.db-log-error td {
      background-color: lighten($red, 56%);
      border-bottom: 1px solid lighten($red, 40%);

      &.active {
        background-color: lighten($red, 50%);
      }
    }
  }
}

table#admin-dblog {
  td.icon {
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
  }

  tr.dblog-warning td.icon {
    background-image: url(../images/message-16-warning.png);
  }

  tr.dblog-error td.icon,
  tr.dblog-critical td.icon,
  tr.dblog-alert td.icon,
  tr.dblog-emerg td.icon {
    background-image: url(../images/message-16-error.png);
  }
}

// ---------------------------------------------------------------------------
// Field UI

.field-formatter-settings-edit-form .form-actions input:first-child {
  @extend %button-blue-medium;
}

form .field-multiple-table th.field-label {
  padding-left: 0.7em;

  label {
    margin: 0;
  }
}
// ---------------------------------------------------------------------------
// Messages


/* Message */
.messages {
  @include border-radius;
  padding: rhythm(1) 10px rhythm(1) 50px ; /* LTR */
  background-position: 8px 8px; /* LTR */
  background-repeat: no-repeat;
  font-weight: bold;
  ul {
    margin: 0 0 0 1em; /* LTR */
    padding: 0;
  }
  li {
    list-style-image: none;
  }
}

/* Status Messages */

.messages--status,
.ok, .status {
  border-color:lighten($green, 15%);
  @include h-borders;
  @include contrasted(lighten($green, 40%), darken($green, 35%), lighten($green, 30%));
  color:contrast-color(lighten($green, 40%), darken($green, 35%), lighten($green, 30%));
}

/* Warning Messages */

.messages--warning,
.warning {
  border-color: lighten($yellow, 15%);
  @include contrasted(lighten($yellow, 50%), darken($yellow, 45%), lighten($yellow, 50%));
  color:contrast-color(lighten($yellow, 50%), darken($yellow, 45%), lighten($yellow, 50%));
  
}

/* Error Messages */

.messages--error,
.error {
  border-color: lighten($red, 15%);
  @include contrasted(lighten($red, 40%), darken($red, 40%), lighten($red, 40%));
  color:contrast-color(lighten($red, 40%), darken($red, 40%), lighten($red, 40%));
}

.error /*p*/.error {
  color: #8c2e0b;
}
