/*
* @file
* _common.scss adds styles to common html elements, such as body and links.
* make sure they always contrast no matter what colors are used.
* @link http://compass-style.org/reference/compass/utilities/color/contrast/ @endlink
* @link http://compass-style.org/reference/compass/typography/links/link_colors/ @endlink
*/

html, .l-header, .l-main, .l-footer{
  @include contrasted($bgColor);
  color:contrast-color($bgColor);

}


// ---------------------------------------------------------------------------
// links
a {
  @include contrasted($bgSubtle, darken($primaryColor, 10%), lighten($primaryColor, 10%));
  color:contrast-color($bgSubtle, darken($primaryColor, 10%), lighten($primaryColor, 10%));
  @include link-colors(contrast-color($bgSubtle, darken($primaryColor, 10%), lighten($primaryColor, 10%)), $secondaryColor, darken($secondaryColor, 10%), contrast-color($bgSubtle, darken($primaryColor, 25%), lighten($primaryColor, 25%)), $secondaryColor);
    &:active, &:focus, &.active {

    @include transition( all 0.5s ease 0s);
    @include text-shadow(0 0 15px $primaryColor);
    @include transform(scale(1.0));
  }
  &:hover {
    text-decoration:none;
    @include transition(all 0.5s ease 0s);
    @include text-shadow(0 0 15px $primaryColor);
    @include transform(scale(1.05));
  }
  img {
    border: none;
  }
}

