/*
*@file
* _forms.scss adds basic color and spacing to form elements.
* 
* inputs
* selects
* buttons
* labels
* fieldsets
* Form API
* vertical fieldsets
* autocomplete
* 
*/

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  @include border-radius(2px);
  @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.1));
  @include transition(all 0.15s linear);
  background-color: $bgColor;
  border: 2px solid $primaryBorder;
  @include rhythm-borders(2px);
  color: $primaryBlack;
  margin-bottom: rhythm(0.4);
  padding: rhythm(0.4);

  &:focus {
    @include contrasted($bgSubtle);
    color:contrast-color($bgSubtle);
    //outline: none;
    border-color: $secondaryBorder;

  }

  &[disabled] {
    background-color: $bgDisabled;
    color: $textDisabled;
  }

  &.error {
    border: 1px solid $red;
    @include h-borders;
  }
}

select {
  @include border-radius(2px);
  @include contrasted($bgSubtle);
  color:contrast-color($bgSubtle);
  border: 1px solid $primaryBorder;
  @include h-borders;
  height: 2.2em;
  margin-bottom: rhythm(0.1);
  padding: rhythm(0.1);
  &[multiple],
  &[size] {
    height: auto;
  }

  &[disabled] {
    background-color: $bgDisabled;
    color: $textDisabled;
  }
}

input[type="file"] {
  height: 2.2em;
  line-height: 1.4em;
}

.marker,
.form-required {
  color: $red;
}

// buttons
button,
input[type="submit"],
input[type="image"] {
  @extend %button-default;

  &.secondary-action,
  &#edit-add {
    @extend %button-blue-medium;
  }
}

input[type="image"] {
  padding: 0.5em 1em;
}

#edit-submit,
#edit-actions-submit,
#edit-actions-save,
#edit-next {
  @extend %button-green;
}

#edit-delete,
#edit-remove,
.button.remove {
  @extend %button-red;
}

#edit-cancel,
.button,
.fake-cancel {
  @extend %button-link;
}

// labels
label {
  @include contrasted($bgColor);
  color:contrast-color($bgColor);
  display: block;
  font-weight: bold;
  margin: 0 auto;

  &.option {
    display: inline;
    font-weight: normal;
  }
}

// ---------------------------------------------------------------------------
// Fieldsets

/**
 * Fieldsets.
 *
 * Fieldset legends are displayed like containers. However, several
 * browsers do not support styling of LEGEND elements. To achieve the desired
 * styling:
 * - All fieldsets use 'position: relative'.
 * - All legend labels are wrapped in a single span.fieldset-legend that uses
 *   'position: absolute', which means that the LEGEND element itself is not
 *   rendered by browsers.
 * - Due to using 'position: absolute', collapsed fieldsets do not have a
 *   height; the fieldset requires a 'padding-top' to make the absolute
 *   positioned .fieldset-legend appear as though it would have a height.
 * - Various browsers are positioning the legend differently if there is a
 *   'padding-left'/'padding-right' applied on a fieldset and inherit the
 *   positioning even to absolute positioned elements within; we therefore have
 *   to apply all padding to the inner .fieldset-wrapper instead.
 */
fieldset {
  border-color: $primaryBorder;
  padding: rhythm(1) 0; /* LTR */
  position: relative;
  margin: rhythm(1) 0;
  @include border-radius(4px);
  .fieldset-legend {
    margin: rhythm(.5) 0;
    padding-left: 15px; /* LTR */
    position: absolute;
    text-transform: uppercase;

  }
  .fieldset-wrapper {
    padding: rhythm(1.5) 13px rhythm(0.1) 15px; /* LTR */
  }
  &.collapsed {
    background-color: transparent;
  }
  fieldset {
    background-color: $white;
    @include border-radius(0px);
    fieldset {
      @include contrasted($bgSubtle);
    }
  }
}

html.js fieldset.collapsed {
  border-width: 1px;
  height: auto;
}


/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }


// ---------------------------------------------------------------------------
// Form API
.form-item,
.form-actions {
  margin: rhythm(1) 0;
}

tr.odd .form-item,
tr.even .form-item {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}

.form-checkboxes .form-item,
.form-radios .form-item {
  margin: rhythm(0.4) 0;
}

.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2.4em;
}

input.form-checkbox,
input.form-radio {
  vertical-align: middle;
}

.container-inline .form-actions,
.container-inline.form-actions {
  margin-top: 0;
  margin-bottom: 0;
}

// ---------------------------------------------------------------------------
// Vertical tabs

div.vertical-tabs {
  @include border-right-radius;
  border-color: $primaryBorder;
  ul.vertical-tabs-list {
    @include border-left-radius;
    @include box-sizing(border-box);
    border-color: $primaryBorder;
    border-left: 1px solid $primaryBorder;

    li {
      background: $primaryLightGray;
      border-color: $primaryBorder;
      border-left: none;
      @include text-shadow(0 1px 0 rgba(255, 255, 255, 0.6));

      &.first {
        @include border-top-left-radius;
      }

      &.last {
        @include border-bottom-left-radius;
      }

      &.selected {
        a strong {
          color: darken($primaryColor, 10%);
        }
      }
    }

    a .summary {
      color: $textMuted;
    }
  }
}

// ---------------------------------------------------------------------------
// Autocomplete

html.js input.form-autocomplete {
  background-position: 99.5% 9px;
}

html.js input.throbbing {
  background-position: 99.5% -13px;
}

#autocomplete {
  @include border-bottom-radius;
  @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.1));
  background: $bgSubtle;
  border-color: darken($primaryBorder, 15%);
  border-top: 0;

  li {
    background: transparent;
    padding: rhythm(0.25) 0.5em;

    &.selected {
      background: $primaryColor;
      color: #fff;
    }
  }
}
