/*
* @file
* _lists.scss styles ordered, unordered and definition lists.
* lists are aligned with their titles
*/


// Inline lists
ul.inline,
ul.links.inline {
  display: inline;
  padding-left: 0;
}

ul.inline li {
  display: inline;
  list-style-type: none;
  padding-right: 1em;
}

// Items lists theme_item_list().
//.item-list {
  .title {
    font-weight: bold;
  }

  ul, ol {
    margin: 0 0 rhythm(1) 0;
    padding: 0;

    table & {
      margin-bottom: 0;
    }

    li {
      margin: 0 0 rhythm(0.25) 1.5em;
      padding: 0;
      
    }
  }
//}

dl {
  margin-left: 0;

  & dt {
    margin: 0 0 rhythm(0.2) 0;
  }

  dd {
  //  @include font-size(12px);
    color: $textMuted;
    margin: 0 0 rhythm(0.2) 0;
  }
}

