/**
*@file
* _menus.scss This themes the main navigation.
*
* Every nav item in the header region will be a horizontal blocklist.
* Using @link http://compass-style.org/reference/compass/typography/lists/inline-block-list/
* List(ol,ul) that is layed out such that the elements are inline-block and won't wrap. @endlink
*/

header nav ul.menu{

  @include inline-block-list(rhythm(1));
  margin:rhythm(1);
  a {
  @include adjust-font-size-to(23px);
  text-decoration:none;
      &.active {
        @include trailing-border(2px,0);
    }
  }
}

