/*
* @file
* core/_tables.scss adds styling to tables
* @link http://compass-style.org/examples/compass/tables/ @endlink
*/


table {
  margin: 0 auto rhythm(1);// add bottom margin.
  @include table-scaffolding;//http://compass-style.org/examples/compass/tables/scaffolding/
  @include border-radius;
  //border: 1px solid darken($table-color, 40%); Compass table borders doesn't work.
  @include box-shadow(inset 0 1px 3px 1px rgba(0,0,0,1)); //inner boxshadow
  @include alternating-rows-and-columns($table-color, adjust-hue($table-color, -120deg), $primaryLightGray);//http://compass-style.org/reference/compass/utilities/tables/alternating_rows_and_columns/#mixin-alternating-rows-and-columns
  width: 100%;
  vertical-align: middle;
  tr {
    &.even {
    }
    &.odd, &:nth-child(2n+1) td {
      @include background-image(linear-gradient(top, rgba(255,255,255,0.05) 0%,rgba(0,0,0,.05) 100%)); //Give every odd or second row transparent gradient overlay white to black.
    }
    &:last-child {//Fixing rounded table bottom by rounding borders of first and last td respectively of the last row.
      & td:first-child {
        @include border-bottom-left-radius;
        }
      & td:last-child {
        @include border-bottom-right-radius;
        }
      }
    }
    & td{
    padding: rhythm(.5);//Add whitespace to table.
    }
}

//Styling table headers.
th {
  @include background-image(linear-gradient(rgba(255,255,255,0.05) 0%, $primaryLightGray));//Different gradient overlay.
  padding: rhythm(.3) .6em;
  color: $secondaryLightGray;
  text-align: center;
  text-transform: uppercase;
  @include text-shadow(0 1px 1px $white);
}
//Remove background from odd rows.TODO Also a rounded table fix?
tr.odd {
  background: none;
  background-color: transparent;
}
