/**
 * @file
 * _tabs.scss adds styling to tabs.
 */
/* =============================================================================
   Tabs
   ========================================================================== */

//Add top padding, remove margins from Tabs <ul>
ul.tabs {
  margin: 0;
  padding: rhythm(0.2) 0 0;
  position: relative;
  right: 0; /* LTR */
}

//Remove margin and padding from tabs.
ul.tabs li {
  margin: 0;
  padding: 0;
}
// @todo: adjust "tab" links to use contrasted link colors 
// http://compass-style.org/reference/compass/utilities/links/link_colors/

// Add background gradient to tabs, add border radius top and inner boxshadow.
ul.tabs li a {
  @include background-image(linear-gradient(#ECEFF0 0%, rgba(255,255,255,0.05)));
  @include border-top-radius();
  @include border-bottom-radius(0);
  
  box-shadow: inset 0 -2px 3px $primaryLightGray;
  // @todo: replace float left with @include horizontal lists & adjust font weight (Compass).
  float: left; /* LTR */
  font-weight: 400 !important;
  margin: 0 5px 0 0; /* LTR */
  text-transform: none;
}

//Change gradient and boxshadow of tabs on hover.
ul.tabs li a:hover {
  @include background-image(linear-gradient(rgba(255,255,255,0.05) 0%, #ECEFF0));
  box-shadow: inset 0 -2px 3px $primaryLightGray;
}

//Remove boxshadow from active tab and replace background gradient with contrasted color.
ul.tabs li.active a {
  @include contrasted($bgSubtle);
  box-shadow: none;
  margin: 0 5px 0 0; /* LTR */
}
