
#toolbar {
  @include single-box-shadow(none);
  background: lighten($primaryBlack, 30%);
  color: lighten($primaryBlack, 80%);

  a {
  @include contrasted($bgColor);
  color:contrast-color($bgColor);
    strong {
      color: rgba(lighten($primaryBlack, 40%), 0.95);
    }
  }

  div.toolbar-menu {
    background-color: lighten($primaryBlack, 20%);
    border-color: lighten($primaryBlack, 15%);
    @include trailing-border;
    ul li a:hover,
    ul li:hover a {
      background: lighten($primaryBlack, 35%);
    }

    ul li a.active,
    ul li.active-trail a {
      background: lighten($primaryBlack, 35%);

      &:hover,
      &:active {
        background: lighten($primaryBlack, 35%);
      }
    }
  }

  div.toolbar-drawer {
    border-color: lighten($primaryBlack, 35%);
   @include h-borders(1px, 0.2);
  }
}

// shortcuts toggle
//#toolbar div.toolbar-menu a.toggle {
//  background: url(../../images/toolbar.png);
//  background-position: 0;

//  &:hover {
//    background-position: -50px 0;
//  }
//}
//#toolbar div.toolbar-menu a.toggle-active.toggle {
//  background-position: -25px 0px;

//  &:hover {
//    background-position: -75px 0px;
//  }
//}

// shortcuts
div#toolbar div.toolbar-shortcuts ul li a {
  &:hover {
    background: lighten($primaryBlack, 25%);
  }

  &.active,
  &.active:hover {
    background: lighten($primaryBlack, 22%);
  }
}


body.toolbar #tasks {
  top: 31px;
}

body.toolbar-drawer #tasks {
  top: 5.3em;
}

// support for toolbar mega menus
#toolbar div.toolbar-menu-wrapper > ul.menu > li.open > div.toolbar-menu-wrapper,
#toolbar div.toolbar-menu-wrapper > ul.menu > li:hover > div.toolbar-menu-wrapper {
  @include box-shadow(0 0px 2px rgba($primaryBlack, 0.4));
  top: 20px;
  background: rgba($bgSubtle, 0.95);
}

#toolbar div.toolbar-menu-wrapper div.toolbar-menu-wrapper {
  border: 1px solid $bgSubtle;

  ul li {
    margin-bottom: 0.3em;

    li {
      margin-bottom: 0.1em;
    }
  }

  a {
    padding-right: 3px;
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
}

#toolbar div.toolbar-menu div.toolbar-menu-wrapper div.toolbar-menu-wrapper ul.menu li a {
  color: $textBold;
  font-size: 14px;
  font-weight: bold;
}

#toolbar div.toolbar-menu-wrapper div.toolbar-menu-wrapper div.toolbar-menu-wrapper ul.menu li a {
  color: darken($primaryColor, 10%);
  font-size: 12px;
  font-weight: normal;
}

#toolbar div.toolbar-menu-wrapper div.toolbar-menu-wrapper div.toolbar-menu-wrapper {
  border: none;
  padding-left: 0 !important;
}

#toolbar div.toolbar-menu-wrapper div.toolbar-menu-wrapper {
  @include border-bottom-radius();
  padding: rhythm(0.1);
}
