/*
* @file
* _type.scss @link http://compass-style.org/reference/compass/css3/font_face/ @endlink
* 
* Define your own fonts
* In order to refer to a specific style of the font in your 
* stylesheets as e.g. "font-style: italic;", you may add a couple of @font-face 
* includes containing the respective font files for each style and specying 
* respective the $style parameter. Order of the includes matters, and it is: 
* normal, bold, italic, bold+italic.
*/

//Include custom fontface http://compass-style.org/examples/compass/css3/font-face/
@include font-face("Comfortaa Bold", font-files("../../fonts/Comfortaa-Bold/Comfortaa-Bold.woff","../../fonts/Comfortaa-Bold/Comfortaa-Bold.ttf", "../../fonts/Comfortaa-Bold/Comfortaa-Bold.svg"));

@include font-face("ExistenceLight", font-files("../../fonts/Existence-Light/Existence-Light-webfont.woff","../../fonts/Existence-Light/Existence-Light-webfont.ttf", "../../fonts/Existence-Light/Existence-Light-webfont.svg"));

@include font-face("Dosis Light", font-files("../../fonts/Dosis_Book/Dosis-Book.woff","../../fonts/Dosis_Book/Dosis-Book.ttf", "../../fonts/Dosis_Book/Dosis-Book.svg"));

//Set base font-family, color and size.
body {
  font-family: $sansFontFamily;

  @include font-size;
}

//Set seperate font family for headings.
headings{
  font-family: $headerFontFamily;
}

//Adjust heading font sizes http://compass-style.org/reference/compass/typography/vertical_rhythm/#mixin-adjust-font-size-to
h1 {
  @include adjust-font-size-to(36px);
}
h2 { @include adjust-font-size-to(26px); }
h3 { @include adjust-font-size-to(18px); }
h4 { @include adjust-font-size-to(15px); }
h5 { @include adjust-font-size-to(15px); font-weight: normal; font-style: italic; }
h6 { @include adjust-font-size-to(13px); }

//No margins on page titles.
h1 {
  &.page-title, &.site-name a {
    margin: 0;
    text-decoration:none;
  }
}

p {

}

//Set strong elements dark.
strong {
  color: $primaryBlackBold;
}

