/*
* @file
* _node--album.scss creates a responsive views grid for every view with the class
* grid.@link http://susy.oddbird.net/ @endlink
* 
*/

body.node-type-album .node__content {
  @include container; // Define these elements as the grid containers.
  @include susy-grid-background; // Show the columns for debugging.
  margin-bottom: $vert-spacing-unit;
}
@include at-breakpoint($tab) { // At a given Susy Media Layout, use a given amount of columns.
body.node-type-album .node__content {
@include set-container-width; // Reset only the container width (elements have already been declared as containers).
}


body.node-type-album .node__content .field--name-field--artwork,
body.node--track .node__content .field--name-field--artwork{
@include span-columns(7, 16); // Span 4 out of 16 columns.
}
body.node-type-album .node__content .field--name-field--tracklist,
body.node--track .node__content .field--name-field--tracklist {
//@include span-columns(7, 16); // Span 4 out of 16 columns.
@include omega; // This element spans the last (omega) column.
  }

body.node-type-album.page-node-edit .field--name-field--artwork,
.node--track.page-node-edit .field--name-field--artwork{
  float:none;
  margin:0;
}

body.node-type-album .field-name-field-links,
.node--track .field-name-field-links {
  overflow:auto;
}
body.node-type-album .field-name-field-links .field-item a,
.node--track .field-name-field-links .field-item a {
  float:left;
  display:block;
  padding:.75em 1.5em;
  background:#F5f5f5; 
  border-left:solid .75em #F2F2F2;
  margin-right:.5em;
  margin-bottom:.5em;
  font-size:.9em;
}
body.node-type-album .field-name-field-links .field-item a:hover,
.node--track .field-name-field-links .field-item a:hover {
  border-color:#E0E0E0;
  background:#F3F3F3;
}


/* Individual Track Audio & Player Styles*/
.node--track .field--name-field--audio {
  display:inline-block;
  padding-bottom:1.25em;
  padding-left:1em;
  text-align:right;
}

.sm2-inline-list .ui360-vis .sm2-360ui,
.sm2-inline-list .ui360-vis:hover .sm2-360ui,
.ui360-vis .sm2-360ui,
.ui360-vis:hover .sm2-360ui {
  background:#F1F5F7 url(../images/noise.png);
  border: solid #bdc3c7 5px;
  border-radius:50%;
}
.ui360-vis .sm2-canvas {
  /* Negate the effect of the border width */  
  margin-top:-5px;
  margin-left:-5px;
}
.sm2-inline-list .ui360-vis a,
.ui360-vis a  {
  text-transform:uppercase;
    white-space:normal;
}
.sm2-inline-list .ui360-vis:hover a.sm2_link,
.ui360-vis:hover a.sm2_link {
  background-color:transparent;
}


/* Album Tracklist View & Player styles */
.view-tracklist ol {
  list-style-position:inside;
  margin-left:0;
  text-indent:0;
  padding-left:0;

}

.view-tracklist .views-field-field-audio {
  float:right;
}

.view-tracklist .views-row {
  line-height:50px;
  padding:5px 10px;
  padding-left:20px;
  border-bottom:solid #EEE 1px;
  list-style-type:decimal-leading-zero;
  /*border-left:solid 10px #F5F2E3;*/

}
.view-tracklist .views-row-even {
  /*border-left:solid 10px #FCFFE8;  
  border-left:solid 10px #FFEDBF;*/
  background: none repeat scroll 0 0 #F5F2E3;
}
.view-tracklist .views-row-last {
  border-bottom:none;
}
.view-tracklist .views-row:hover {
  background:#F6F6F6;
}

.view-tracklist .views-field-field-artist {
  color:#777;
  //font-size:.9em;
  font-style:italic;
  margin-left:1em;
}
.view-tracklist .views-field-title {
  font-weight:bold;
}

/* Tracklist Player UI 360 Style*/
.view-tracklist .ui360 a,
.view-tracklist .ui360-vis a {
  display:none;
}
.view-tracklist .ui360 .sm2-360ui {

}
.view-tracklist .ui360 .sm2-360ui.sm2_paused,
.view-tracklist .ui360 .sm2-360ui.sm2_playing {
 
}
.view-tracklist .ui360 .sm2-360ui.sm2_playing {

}

.view-tracklist .ui360 .sm2-360btn-default {
  background:url(../images/play-default.png) no-repeat 50% 50%;
  background-size:contain;
}
.view-tracklist .ui360 .sm2-360btn-default:hover {
  background:url(../images/play-default-hover.png) no-repeat 50% 50%;
  background-size:contain;
}

.view-tracklist .ui360:hover,
.view-tracklist .ui360 .sm2-360ui.sm2_paused .sm2-360btn:hover,
.view-tracklist .ui360,
.view-tracklist .ui360 .sm2-360ui.sm2_paused .sm2-360btn {
  background:url(../images/play.png) no-repeat 50% 50%;
  
}
.view-tracklist .ui360 .sm2-360ui.sm2_playing .sm2-360btn:hover,
.view-tracklist .ui360 .sm2-360btn-playing:hover {
  background: url(../images/pause.png) no-repeat 50% 50%;
}
}
