/*
* @file
* _views_grid.scss creates a responsive views grid for every view with the class
* grid.@link http://susy.oddbird.net/ @endlink
* 
*/

.grid .view-content {
  @include container; // Define these elements as the grid containers.
  @include susy-grid-background; // Show the columns for debugging.
  margin-bottom: $vert-spacing-unit;
}


@include at-breakpoint($tab) { // At a given Susy Media Layout, use a given amount of columns.
  .grid .view-content {
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
    @include susy-grid-background; // Show the columns for debugging.
  }

   .grid .views-row {
    @include span-columns(7, 16); // Span 7 out of 16 columns.
  }


}

@include at-breakpoint($desk) {
  .grid .view-content {
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
    @include susy-grid-background; // Show the columns for debugging.
  }

  .grid .views-row {
    @include span-columns(4, 16); // Span 4 out of 16 columns.
  }
  .grid .views-row-last {
      @include omega; // This element spans the last (omega) column.
  }
}
