﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Comfortaa-Bold";src:url("Comfortaa-Bold.eot?") format("eot"),url("Comfortaa-Bold.woff") format("woff"),url("Comfortaa-Bold.ttf") format("truetype"),url("Comfortaa-Bold.svg#Comfortaa-Bold") format("svg");font-weight:normal;font-style:normal;}
