/*******************************************************************************
 * 
 * @file
 * _utils.scss
 *
 * Sass offers come very useful features, these include variables functions and
 * mixins. Extensions such as Compass and Susy can also be used to provide extra
 * functions and mixins to be used throughout the theme. This file acts as a
 * single place for defining these things, which can then be accessed by
 * importing _utils.scss where required. The following should be defined in this
 * file:
 * - Custom Sass mixins for the theme.
 * - Custom Sass functions for the theme.
 * - Overriding the default variables provided by extensions such as Compass.
 * - Defining new variables for:
 *      - Colors.
 *      - Font sizes and families.
 *      - Layout and grid sizing.
 ******************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-0\.13\.alpha\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\00003105}}
html {
  font-size: 100%;
  line-height: 1.5em;
}

/*Animations*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/pushtape-omega-21\/profiles\/pushtape\/themes\/pushtheme\/sass\/components\/topbar\.scss}line{font-family:\000035}}
#tasks {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #91b0c8), color-stop(100%, #8aabc5));
  background-image: -webkit-linear-gradient(#91b0c8, #8aabc5);
  background-image: -moz-linear-gradient(#91b0c8, #8aabc5);
  background-image: -o-linear-gradient(#91b0c8, #8aabc5);
  background-image: linear-gradient(#91b0c8, #8aabc5);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  background-color: #8aabc5;
  border: 1px solid #80a4c0;
  border-top: none;
  left: 0;
  margin: 0;
  position: fixed;
  right: 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  top: 0;
  z-index: 100;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/pushtape-omega-21\/profiles\/pushtape\/themes\/pushtheme\/sass\/components\/topbar\.scss}line{font-family:\0000320}}
#tasks .inner {
  border-bottom: 1px solid #a2bcd1;
  margin: 0 -1em;
  padding: 0 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/pushtape-omega-21\/profiles\/pushtape\/themes\/pushtheme\/sass\/components\/topbar\.scss}line{font-family:\0000327}}
#tasks ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  background: transparent url("../../images/noise.png") repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/pushtape-omega-21\/profiles\/pushtape\/themes\/pushtheme\/sass\/components\/topbar\.scss}line{font-family:\0000333}}
#tasks ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/pushtape-omega-21\/profiles\/pushtape\/themes\/pushtheme\/sass\/components\/topbar\.scss}line{font-family:\0000342}}
#tasks a {
  font-size: 13px;
  text-decoration: none;
  color: #434c52;
  display: block;
  padding: 0.50em 0.8em;
  margin-bottom: -1px;
  border-bottom: 1px solid #a2bcd1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/pushtape-omega-21\/profiles\/pushtape\/themes\/pushtheme\/sass\/components\/topbar\.scss}line{font-family:\0000351}}
#tasks a:hover {
  color: #434c52;
  background: #80a4c0;
  border-bottom: 1px solid #87a9c3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/pushtape-omega-21\/profiles\/pushtape\/themes\/pushtheme\/sass\/components\/topbar\.scss}line{font-family:\0000357}}
#tasks a.active {
  color: #434c52;
  background: #769cba;
  border-bottom: 1px solid transparent;
  border-right: 1px solid #6f98b7;
  border-left: 1px solid #6f98b7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/pushtape-omega-21\/profiles\/pushtape\/themes\/pushtheme\/sass\/components\/topbar\.scss}line{font-family:\0000366}}
#tasks .action-links a {
  background: none;
  border-bottom: 1px solid #a2bcd1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/pushtape-omega-21\/profiles\/pushtape\/themes\/pushtheme\/sass\/components\/topbar\.scss}line{font-family:\0000370}}
#tasks .action-links a:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/pushtape-omega-21\/profiles\/pushtape\/themes\/pushtheme\/sass\/components\/topbar\.scss}line{font-family:\0000375}}
#tasks .action-links a:before {
  content: '+ ';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/pushtape-omega-21\/profiles\/pushtape\/themes\/pushtheme\/sass\/components\/topbar\.scss}line{font-family:\0000379}}
#tasks .secondary-nav {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/pushtape-omega-21\/profiles\/pushtape\/themes\/pushtheme\/sass\/components\/topbar\.scss}line{font-family:\0000383}}
#tasks .divider {
  background-color: #98b5cb;
  border-left: 1px solid #83a6c1;
  display: block;
  float: left;
  width: 1px;
  height: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/pushtape-omega-21\/profiles\/pushtape\/themes\/pushtheme\/sass\/components\/topbar\.scss}line{font-family:\0000392}}
#tasks .sub {
  background: #769cba;
  margin: 0 -1em;
  padding: 0 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/pushtape-omega-21\/profiles\/pushtape\/themes\/pushtheme\/sass\/components\/topbar\.scss}line{font-family:\0000397}}
#tasks .sub a {
  border: none;
  background: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/pushtape-omega-21\/profiles\/pushtape\/themes\/pushtheme\/sass\/components\/topbar\.scss}line{font-family:\00003102}}
#tasks .sub a:hover, #tasks .sub a.active {
  text-decoration: underline;
}
