

<div id="preview">
 
  <div id="preview-header">
    <div id="preview-site-name"><h1>Site name hereh1>div>
  div>
 
  <div id="preview-main-menu">
    <ul id="preview-main-menu-links" class="inline main-menu">
      <li><a href="#" class="active">Homea>li>
      <li><a href="#">Menu itema>li>
      <li><a href="#">Menu item 2a>li>
    ul>
  div>
 
  <div id="preview-main" class="clearfix">
    <div id="preview-content">
      <h2 id="preview-page-title">Lorem ipsum dolorh2>
      <div id="preview-node">
        <div class="preview-content">
          Sit amet, <a href="#">consectetur adipisicing elita>, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud <a href="#">exercitation ullamcoa> laboris nisi ut aliquip ex ea
          commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
        div>
      div>
    div>
  div>
 
div>


